<h2 class="mt-5 mb-5">Client page</h2>

<p>id: <%= @client.id %></p>
<p>name: <%= @client.username %></p>
<p>phone: <%= @client.phone %></p>
<p>visit: <%= @client.datestamp %></p>
<p>barber: <%= @client.barber %></p>
<p>color: <%= @client.color %></p>
